<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACTIVENTLY</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>

  <body>
    <!-- Header/Nav Bar-->
    <div>
      <header>
        <h1>
          <a>ACTIVENTLY</a>
        </h1>

        <nav>
          <ul>
            <li>PRODUCT</li>
            <li>ABOUT</li>
            <li>PROTFOLIO</li>
            <li>TEAM</li>
            <li>CONTACT</li>
          </ul>
        </nav>
      </header>
    </div>

    <!-- Hero Section-->
    <main>
      <div>
        <h2>Lorem Ipsum</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <!-- sign up button-->
        <button>Click Me!</button>
      </div>
    </main>

    <!-- TODO: -->
    <section>
      <h3>See what is happening around you...</h3>
      <ul>
        <li>
          <figure>
            <a>
              <img />
            </a>
            <figcaption>some test here</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <a>
              <img />
            </a>
            <figcaption>some test here</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <a>
              <img />
            </a>
            <figcaption>some test here</figcaption>
          </figure>
        </li>
      </ul>
    </section>

    <footer>
      <section>
        <h4>SERVICES</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </section>
      <!-- add border-->
      <section>
        <h4>CONTACTS</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </section>
    </footer>

    <script src="assets/js/javascript.js"></script>
  </body>
</html>