{{! Format with Materialize once code is more advanced }}


<div class="activity-list">
{{#each activities as |activity|}}
    <div>
        {{> activity-info activity }}
    </div>
{{/each}}
</div>

