<!-- add edit feature-->

<div class="container">
  <img />
  <h3>{{activity.title}}</h3>
  <p>{{activity.description}}</p>
  <p>{{activity.location}}</p>
  <p>{{activity.user.username}}</p>
  <button>
    <a class="waves-effect waves-light btn-large" href="#modal1">Attend</a>
  </button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>
        {{! confirm attendance }}
      </h4>
      <p></p>
    </div>
    <div class="modal-footer">
      <a
        href="#!"
        class="modal-action modal-close waves-effect waves-green btn-flat"
      >Attend</a>
    </div>
  </div>
</div>
<!-- TODO: add attendee-->
<div class="container">
</div>