{{! create an event button}}
{{! floating at bottom right? }}
<!-- <div>
  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
  >Create my event
    <i class="material-icons right">send</i>
  </button>
</div> -->

<!-- [ ] TODO: create a search bar which includes 'options' and 'location' -->
<!--
<div class="input-field">
  <input id="search" type="search" required />
  <label class="label-icon" for="search"><i
      class="material-icons"
    >search</i></label>
  <i class="material-icons">close</i>
</div>
-->

{{! <div class="progress">
  <div class="indeterminate"></div>
</div> }}

{{! TODO: event cards }}
<!-- maybe 3 - 4 events each 'page'?-->
<div class="container">
  <div class="row">
    <div class="col s12">
      {{#each activities as |activity|}}
        <div class="card black-text center-align">

          <a href="/activity/{{id}}"><span
              class="card-title black-text center-align"
            >{{activity.title}}</span>
          </a>
          <div class="card-content left-align">
            <p>{{activity.description}}</p>
          </div>

        </div>
      {{/each}}
    </div>
  </div>
</div>