{{! create an event button}}
{{! floating at bottom right? }}
<div>
  <button
    class="btn waves-effect waves-light"
    type="submit"
    name="action"
  >Create my event
    <i class="material-icons right">send</i>
  </button>
</div>

{{! TODO: create a search bar which includes 'options' and 'location' }}
<div class="input-field">
  <input id="search" type="search" required />
  <label class="label-icon" for="search"><i
      class="material-icons"
    >search</i></label>
  <i class="material-icons">close</i>
</div>

<div class="progress">
  <div class="indeterminate"></div>
</div>

{{! TODO: event cards }}
<!-- maybe 3 - 4 events each 'page'?-->
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="{{event image}}" />
        <span class="card-title">{{Event Title}}</span>
      </div>
      <div class="card-content">
        <p>{{description of the event}}</p>
      </div>
      <div class="card-action">
        <a href="#">Learn more!</a>
      </div>
    </div>
  </div>
</div>

<ul class="pagination">
  <li class="disabled"><a href="#!"><i
        class="material-icons"
      >chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i
        class="material-icons"
      >chevron_right</i></a></li>
</ul>