{{! Need to format with Materialize once code is more advanced }}

<div class="container">
  <h2>Create New Activity</h2>

</div>


  <form class="new-activity-form">
    <div class="input-field">
      <label for="activity-title">Title</label>
      <input type="text" id="activity-title" name="activity-title" />
    </div>
    <div class="input-field">
      <label for="activity-description">Description</label>
      <input id="activity-description" name="activity-description" class="materialize-textarea" />
    </div>
    <div class="input-field">
      <label for="activity-location">Location</label>
      <input id="activity-location" name="activity-location" />
    </div>
    <div class="input-field">
      <label for="activity-occurrence">Occurrence</label>
      <input type="datetime-local" id="activity-occurrence" name="activity-occurrence" />
    </div>
    <div class="input-field">
      <label for="activity-privacy">Do attendees have to be invited privately?</label>
      <input type="checkbox" id="activity-privacty" name="activity-privacy" value="Private" />
    </div>
    <div class="input-field">
      <label for="activity-seats">What is the maximum capacity of your event?</label>
      <input id="activity-seats" name="activity-seats" />
    </div>
    <div class="input-field">
      <label for="activity-rules">What are the rules of your event?</label>
      <input id="activity-rules" name="activity-rules" />
    </div>
    <div class="input-field">
      <label for="activity-price">What is the cost/price range (per attendee) of your event?</label>
      <input id="activity-price" name="activity-price" />
    </div>
    <div class="input-field">
      <label for="activity-diet">Please indicate any dietary preferences</label>
      <input id="activity-diet" name="activity-diet" />
    </div>
    <div class="input-field">
      <label for="activity-interest">What interest category applies to your event?</label>
      <input id="activity-interest" name="activity-interest" />
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</div>



{{#if activities.length}}
<section>
  <h2>Your Activities</h2>
  <ol>
    {{#each activities as |activity|}}
    <li>
      {{> activity-info activity}}
      <a href="/dashboard/edit/{{activity.id}}" class="edit-link">Edit Activity</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-activity.js"></script>