<form class ="edit-profile-form">
     <label for="username-edit">Username:</label>
            <input type="text" id="username-edit" />
          </div>
    
          <div>
            <label for="password-edit">Password:</label>
            <input type="password" id="password-edit" />
          </div>
            <button data-target="modal" class="btn modal-trigger">Update!</button>
</form>
<script src = "/js/update-profile.js"