<div class="">
  <h2 class="center">Your Activities</h2>

  <div class="container"><h3>Organizing</h3></div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Past</span>
          {{#if pastOrgActivities}}
          <div class="scroll">
            {{#each pastOrgActivities as |activity|}}
              {{> activity-card activity}}
            {{/each}}
          </div>
          {{else}}
          <p>You haven't organized any events in the past.</p>
        </div>
        <div class="card-action">
          <a href="/activity/new" class="btn">Create one now!</a>
        </div>
          {{/if}}
          </div>
        </div>
      </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Upcoming</span>
            {{#if upcomingOrgActivities}}
            <div class="scroll">
              {{#each upcomingOrgActivities as |activity|}}
                {{> activity-card activity}}
              {{/each}}
            {{else}}
              <p>You aren't organizing any events in the future.</p>
            </div>
            <div class="card-action">
              <a href="/activity/new" class="btn">Create one now!</a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="container"><h3>Attending</h3></div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Past</span>
          {{#if pastAttendingActivities}}
            <div class="scroll">
              {{#each pastAttendingActivities as |activity|}}
                {{> activity-card activity}}
              {{/each}}
            </div>
        </div>
            {{else}}
          <p>You haven't attended any events in the past.</p>
        </div>
        <div class="card-action">
          <a href="/browsing" class="btn">Attend one now!</a>
        </div>
            {{/if}}
      </div>
    </div>
    <div class="col s12 m6"><div class="card">
        <div class="card-content">
          <span class="card-title">Upcoming</span>
          {{#if upcomingAttendingActivities}}
            <div class="scroll">
              {{#each upcomingAttendingActivities as |activity|}}
                {{> activity-card activity}}
              {{/each}}
          </div>
        </div>
            {{else}}
          <p class="mb-1">You aren't attending any events in the future.</p>
        </div>
        <div class="card-action">
          <a href="/browsing" class="btn">Attend one now!</a>
        </div>
            {{/if}}
      </div>
    </div>
  </div>
</div>