<div class="container">
      <div>
        <h2 class ="black-text center-align">
          <span>A</span>
          <span>C</span>
          <span>T</span>
          <span>I</span>
          <span>V</span>
          <span>E</span>
          <span>N</span>
          <span>T</span>
          <span>L</span>
          <span>Y</span>
        </h2>
        <p>
          <blockquote class="black-text">
            ACTIVENTLY is the easiest way to make plans with your friends or
            people with common interests! We continue to build the best activity
            playform for people to expore a new life, diversify their lifestyle,
            meet new friends and deepen friendship.
          </blockquote>
        </p>
      </div>
    </div>
  </main>
  
  <!-- TODO: create demo activities -->
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h6>See what is happening around you...</h6>
         <div class="input-field">
              <label for="email-login">Enter your zipcode to find activities:</label>
              <input type="text" id="zipCode"</>
            <button class ="zipSearch">Search</button>
            </div>
      </div>
    </div>
  </div>
  {{#if activities}}
  {{#each activities as |activity|}}
  
<div class="row">
    <div class="col">
        <div class="card black-text">
            <span class="card-title">{{activity.title}}</span>
            <div class="card-content">
                <p>{{activity.description}}</p>
            </div>
            <div class="card-action">
          {{#if loggedIn}}
                <a href="/activity/{{id}}">Learn more!</a>
            {{/if}}
            <a href="/signup">Learn more!</a>
             </div>
        </div>
    </div>
</div>
      
  {{/each}}
  {{/if}}
  <script src="javascript/landing.js"></script>