<article>
  <a href="/homepage"> &larr; Back to homepage</a>
  <h2>
    Create an Activity
  </h2>
  <form class="new-activity-form">
     <div>
    <label for="activity-title">activity:</label>
    <input type="text" name ="activity-title" id="activityTitle" />
  </div>
  <div>
    <label for="description">description:</label>
    <input type="text" name ="description" id="description" />
  </div>
  <div>
    <label for="location">zip code:</label>
    <input type="password" name = "location" id="zipCode" />
  </div>
     <div>
    <label for="date-of-event">date of event:</label>
    <input type="text" name ="date-of-event" id="dateOfEvent" />
  </div>
  <div>
    <label class ="organizer-details"for="organizer-details">organizer: {{username}}</label>
  </div>
  <div>
    <label for="is-private">Is this event private?:</label>
    <input type="checkbox" name ="is-private" id="isPrivate" />
  </div>
   <div>
    <label for="seats">number of seats:</label>
    <input type="number" name = "seats" id="seats" />
  </div>

    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{ comments activity.comments}}

<script src="/js/new-activity.js"></script>
<script src="/js/comment.js"></script>