<div class="container">
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel">
        <form class="signup-form">
          <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
          </div>
          <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
          </div>
          <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
          </div>
          <div>
            <label for="password-signup">Zipcode</label>
            <input type="text" id="zipcode-signup" />
          </div>

          <!-- TODO: add activities options for users to choose from-->
          <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Choose your interest(s)</option>
              <option value="1">Hiking</option>
              <option value="2">Board games</option>
              <option value="3">Mountaineering</option>]              
              <option value="4">SUP</option>
              <option value="5">Swimming</option>
            </select>
            <label>Materialize Multiple Select</label>
          </div>

          <div class="input-field col s12">
            <select multiple>
              <option value="" disabled selected>Dietary preference(s)</option>
              <option value="1">Vegan</option>
              <option value="2">Vegetarian</option>
              <option value="3">Gluten free</option>
              <option value="4">Low-Carb</option>
            </select>
            <label>Materialize Multiple Select</label>
          </div>

          <div class="row">
            <div class="col s6">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >Submit!
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="col s6">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >Already a member?
                <i class="material-icons right"></i>
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- http://www.materializecss.cn/preloader.html-->