<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="dietary-preferences">dietary-preferences:</label>
    <input type="checkbox" id="vegan" name="vehicle1" value="Bike" />
    <label for="vegan"> I am vegan</label><br />
    <input type="checkbox" id="gluten-free" />
    <label for="gluten-free"> I am gluten-free</label><br />
    <input type="checkbox" id="lactose-intolerant" />
    <label for="lactose-intolerant"> I am lactose-intolerant</label>
  </div>
  <div>
    <label for="interests">interests:</label>
  </div>
  
  <div>
    <button type="submit">signup</button>
  </div>
</form>